<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Process" type="System.XmlSection`1[[Public.WinService.ProcessInfos, Public.WinService]], System.Common"/>
  </configSections>
  <Process>
    <ProcessInfos>
      <ProcessInfo ExePath="D:\t\NFileManage\NFileManage.exe" Interval="36000" ProcessName="" KillProcess="false" Arguments="" Status="true"/>
      <ProcessInfo ExePath="D:\t\NSpider.App\NSpider.App.exe" Interval="300" ProcessName="" KillProcess="true" Arguments="" Status="true"/>
    </ProcessInfos>
  </Process>
</configuration>

